.menu{
    position: fixed;
    /* usando top, left, right fixar ele na posição indicada */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-content ul {
    list-style: none;
    display: flex;
}

.menu-content ul li a{
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    color: inherit;
    position: relative;
}
/* pelo elemento pai ser relativo o absolute vai respeitar ele e ficar referente a ele,
animação de linha a baixo da navbar 
*/
.menu-content ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    /* ajustando local */
    left: 50%;
    width: 0;
    /* tamanho da listra */
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu-content ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}

.close-menu{
    display: none;
}